@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Custom scroll bar *************/
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(30deg, #516cd5 4.25%, #67c2f6 100%);
  border-radius: 4px;
}

/************ Normal elements styles *************/
@layer base {
  * {
    @apply font-["Lexend_Deca"] scroll-smooth;
  }
  body {
    @apply bg-[#F4F6FF] dark:bg-[#1B2430];
  }
  body {
    @apply:: -webkit-scrollbar-thumb;
  }
  h1,
  li,
  h2,
  h3 {
    @apply text-gray-600 dark:text-white;
  }
  p,
  a {
    @apply text-gray-700 dark:text-white;
  }
}
@layer components {
  .desktop_links span {
    @apply dark:text-white mx-4 font-semibold cursor-pointer;
  }
  .desktop_links span i {
    @apply mr-[6px];
  }
  .mobile_links span {
    @apply text-lg;
  }
  .mobile_links span i {
    @apply mr-2 text-xl;
  }
  /**/
  .icon_hover {
    @apply rounded-full hover:bg-[#3792E4] hover:text-white duration-700 cursor-pointer;
  }
  /**/
  .swiper {
    @apply w-[90%] xl:w-[1150px] h-[470px]  xl:h-[520px] flex justify-center overflow-x-auto;
  }
  /**/
  .current_stack span {
    @apply text-xs font-bold py-[6px] px-3 rounded-full bg-[#253345] text-white m-1;
  }
}

.gradiant_text {
  background: linear-gradient(90deg, #3792e4 0.7%, #31cabd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.swiper-slide {
  background: transparent;
  /* border: 3px solid red; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
