@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Custom scroll bar *************/
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(30deg, #516cd5 4.25%, #67c2f6 100%);
  border-radius: 4px;
}

/************ Normal elements styles *************/
@layer base {
  * {
    @apply font-["Lexend_Deca"] scroll-smooth;
  }
  body {
    @apply bg-[#f1f3ff] dark:bg-[#1B2430];
  }
  body {
    @apply:: -webkit-scrollbar-thumb;
  }
  h1,
  li,
  h2,
  h3 {
    @apply text-gray-600 dark:text-white;
  }
  p,
  a {
    @apply text-gray-700 dark:text-white;
  }
}

.gradiant_text {
  background: linear-gradient(90deg, #3792e4 0.7%, #31cabd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
